<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1.0, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Podcast Home Page</title>
  </head>
  <body>
    <% include partials/header %>
    <main>
      <div class="main-content">
        <!-- <img src="../public/images/podimg.jpg" alt="Home Image Podcast" /> -->
        <div>
          <h1>Welcome to the Podcast App</h1>
          <h5>Get started by registering</h5>
        </div>
      </div>
    </main>
  </body>
</html>
